[build]
  command = ""
  functions = "netlify/functions"
  publish = "dist"

[functions]
  node_bundler = "esbuild"
  included_files = ["netlify/functions/**"]

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173