[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/.netlify/functions/create-cms-item"
  to = "/.netlify/functions/create-cms-item"
  status = 200
